.header {
  border-bottom: 1px solid var(--header-border);
}

.header_container {
}

.header_nav {
}

.header__burger-btn {
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}
.header__burger-btn .header__icon-cross {
  display: none;
}
.header__burger-btn.is-open .header__icon-cross {
  display: block;
}

.header__burger-btn.is-open .header__icon-burger {
  display: none;
}
